<% title "Albums" %>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
  </tr>
  <% for albums in @albums %>
    <tr>
      <td><%= albums.title %></td>
      <td><%= albums.user %></td>
      <td><%= link_to "Show", albums %></td>
      <td><%= link_to "Edit", edit_albums_path(albums) %></td>
      <td><%= link_to "Destroy", albums, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Albums", new_albums_path %></p>
